# Patterns to be ignored by git

# Ophrys custom files
ophrys_custom/

# Virtual Python Environment builder
.virtualenv/
.venv/

# Python cache files
__pycache__/

# Build documentation
docs/_build/

# Coverage (Code coverage measurement for Python) report files (binary and html)
.coverage
coverage_html_report/
